.header {
  display: flex;
  justify-content: space-between;

  &__title {
    justify-self: left;
    align-self: center;
    margin: 0;
  }

  &__loading-notification {
    justify-self: right;
    align-self: center;
    margin: 0;
  }
}
